<div class="sampleheadingtext">
    <span class="sampletitle">lpsa</span>
</div>
@section ControlsSection{
 <p>
    <strong>This sample demonstrate the usage of PMML execution engine for prediction based on the existing dataset and PMML file using RidgeRegression Model.</strong>
</p><br />
  <div class="tabview">
    @(
 Html.EJ().Tab("defaultTabs").Items(data =>
       {
           data.Add().ID("gridDiv").Text("Predicted Result").ContentTemplate(@<div>
            <div class="tabHeight">

                @*@(Html.EJ().Grid<object>("resultGrid").Datasource((IEnumerable<object>)
                    (ViewBag.output ?? new List<object>() { new Dictionary<string, string>() { { "emptyGrid", "emptyGrid" } } }))*@


                @(Html.EJ().Grid<List<List<String>>>("FlatGrid")
        .Datasource((List<List<String>>)ViewBag.datasource)
            .AllowSorting()
            .AllowScrolling()
            .ScrollSettings(scroll => { scroll.AllowVirtualScrolling().Height(300).Width(930).VirtualScrollMode(VirtualScrollMode.Continuous); })
        .Columns(col =>
        {
            col.Field("0").HeaderText("target").TextAlign(TextAlign.Center).Width(120).Add();
            col.Field("1").HeaderText("field_0").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("2").HeaderText("field_1").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("3").HeaderText("field_2").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("4").HeaderText("field_3").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("5").HeaderText("field_4").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("6").HeaderText("field_5").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("7").HeaderText("field_6").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("8").HeaderText("field_7").TextAlign(TextAlign.Center).Width(140).Add();
            col.Field("9").HeaderText("Predicted").TextAlign(TextAlign.Center).Width(140).CssClass("predictedColumnColor").Add();
        }))
            </div>
        </div>);
           data.Add().ID("csCode").Text("C#").ContentTemplate

               (@<div style="">

                <div class="tabHeight">
                    <pre id="source" class="brush: csharp;">
               @ViewBag.Source
</pre>
                </div>
            </div>);
           data.Add().ID("spark").Text("Spark").ContentTemplate(@<div style="word-wrap: break-word; margin-top: -15px; padding-top: 15px;">
            <div class="tabHeight">
                <p></p>
                <pre id="sparkCode" class="brush: perl;">
                @ViewBag.spark
</pre>
            </div>
        </div>);
           data.Add().ID("pmml").Text("PMML").ContentTemplate(@<div style="word-wrap: break-word; margin-top: -15px; padding-top:15px;">
            <div class="tabHeight">
                <pre id="pmmlCode" class="brush: perl;">
                @ViewBag.PMML
</pre>
            </div>
        </div>);
       }).Height("700px"))
</div>
    }
<script type="text/javascript">
        $("#sampleProperties").ejPropertiesPanel();
               $(document).ready(function () {
                   SyntaxHighlighter.highlight($("#sparkCode"));
                   SyntaxHighlighter.highlight($("#source"));
                   SyntaxHighlighter.highlight($("#pmmlCode"));
               });
</script>
<style>
    .predictedColumnColor {
        background-color: #d6d3d1 !important;
    }
</style>



